{"Seemlessman":
        {"TXMAKE":{
            "RMode": 1,
            "filePath": "",
            "STMode": 1,
            "flag": "-txmake"
            },
         "sho":{
         "filePath": "",
         "flag": "-sho"
         },
         "oslc":{
         "filePath": "",
         "flag": "-oslc"
         },
         "optiX": {
            "RMode": 0,
            "Padding": "AUTODETECT",
            "filePath": "",
            "firstFrame": 0,
            "lastFrame": -1,
            "flag": "-txmake"
            },
         "hyperion": {
            "RMode":0,
            "Padding": "AUTODETECT",
            "DenoisePasses": false,
            "filter": 0,
            "bGPU": true,
            "filePath": "",
            "PassesFile": "",
            "FirstFrame": 0,
            "lastFrame": -1,
            "flag": "-hyperion"
         }
    }
}